***DataSpark: Illuminating Insights for Global Electronics***

In [5]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.Collecting pandas
  Using cached pandas-2.2.3-cp310-cp310-win_amd64.whl (11.6 MB)
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\.virtualenvs\pythonproject\lib\site-packages (from pandas) (2.9.0.post0)
Collecting numpy>=1.22.4
  Downloading numpy-2.2.4-cp310-cp310-win_amd64.whl (12.9 MB)
Requirement already satisfied: six>=1.5 in c:\users\user\.virtualenvs\pythonproject\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

WARNING: You are using pip version 21.3.1; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Users\USER\.virtualenvs\pythonProject\Scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
# loading customers.csv

import pandas as pd

file_path = r"C:/Users/USER/Desktop/DataSpark_Illuminating_Insights_for_Global_Electronics/Customers.csv"

# Method 1: Try common encodings automatically
encodings = ['utf-8', 'latin1', 'cp1252', 'ISO-8859-1']

for encoding in encodings:
    try:
        df_Customers = pd.read_csv(file_path, encoding=encoding)
        print(f"Successfully loaded with {encoding} encoding!")
        break
    except UnicodeDecodeError:
        continue

# Method 2: Manual encoding specification (if automatic fails)
# df_Customers = pd.read_csv(file_path, encoding='latin1')  # Most reliable fallback

# Verify the DataFrame
print("\nFirst 5 rows of df_Customers:")
print(df_Customers.head())

print("\nDataFrame info:")
print(df_Customers.info())

Successfully loaded with latin1 encoding!

First 5 rows of df_Customers:
   CustomerKey  Gender               Name            City State Code  \
0          301  Female      Lilly Harding  WANDEARAH EAST         SA
1          325  Female       Madison Hull      MOUNT BUDD         WA
2          554  Female      Claire Ferres       WINJALLOK        VIC
3          786    Male  Jai Poltpalingada    MIDDLE RIVER         SA
4         1042    Male    Aidan Pankhurst   TAWONGA SOUTH        VIC

               State Zip Code    Country  Continent    Birthday
0    South Australia     5523  Australia  Australia    7/3/1939
1  Western Australia     6522  Australia  Australia   9/27/1979
2           Victoria     3380  Australia  Australia   5/26/1947
3    South Australia     5223  Australia  Australia   9/17/1957
4           Victoria     3698  Australia  Australia  11/19/1965

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB
None

In [3]:
df_Customers.dtypes

CustomerKey     int64
Gender         object
Name           object
City           object
State Code     object
State          object
Zip Code       object
Country        object
Continent      object
Birthday       object
dtype: object

In [4]:
# Convert categorical/text columns to string
df_Customers["Gender"] = df_Customers["Gender"].astype("string")
df_Customers["Name"] = df_Customers["Name"].astype("string")
df_Customers["City"] = df_Customers["City"].astype("string")
df_Customers["State"] = df_Customers["State"].astype("string")
df_Customers["Country"] = df_Customers["Country"].astype("string")
df_Customers["Continent"] = df_Customers["Continent"].astype("string")
df_Customers["State Code"] = df_Customers["State Code"].astype("string")
df_Customers["Zip Code"] = df_Customers["Zip Code"].astype("string")

# Convert Birthday to datetime format
df_Customers["Birthday"] = pd.to_datetime(df_Customers["Birthday"], format="%m/%d/%Y", errors="coerce")

# Verify the changes
print(df_Customers.dtypes)

CustomerKey             int64
Gender         string[python]
Name           string[python]
City           string[python]
State Code     string[python]
State          string[python]
Zip Code       string[python]
Country        string[python]
Continent      string[python]
Birthday       datetime64[ns]
dtype: object

In [5]:
df_Customers_cleaned = df_Customers

In [16]:
# Verify the changes
print(df_Customers_cleaned.dtypes)

CustomerKey     int64
Gender         object
Name           object
City           object
State Code     object
State          object
Zip Code       object
Country        object
Continent      object
Birthday       object
dtype: object

In [7]:
df_Customers_cleaned.to_csv('df_Customers_cleaned.csv', index=False)

In [8]:
df_Customers_cleaned = pd.read_csv('df_Customers_cleaned.csv')

In [9]:
df_Customers_cleaned.head()

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,1939-07-03
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,1979-09-27
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,1947-05-26
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,1957-09-17
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,1965-11-19

In [10]:
pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.10-cp310-cp310-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Users\USER\.virtualenvs\pythonProject\Scripts\python.exe -m pip install --upgrade pip' command.

In [12]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.40-cp310-cp310-win_amd64.whl (2.1 MB)
Collecting greenlet>=1
  Using cached greenlet-3.1.1-cp310-cp310-win_amd64.whl (298 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\.virtualenvs\pythonproject\lib\site-packages (from sqlalchemy) (4.13.0)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.40
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Users\USER\.virtualenvs\pythonProject\Scripts\python.exe -m pip install --upgrade pip' command.

In [ ]:
#push into pg sql , Customers_cleaned data _ final
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from datetime import datetime
from sqlalchemy import create_engine

try:
    # Connect to PostgreSQL
    connection = psycopg2.connect(
        host="localhost",
        port="5432",
        database="Global_Electronics_Data",
        user="postgres",
        password="sample12"
    )
    connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
    cursor = connection.cursor()

    # Check if table exists
    cursor.execute("""
        SELECT EXISTS (
            SELECT FROM information_schema.tables 
            WHERE table_name = 'customers'
        );
    """)
    table_exists = cursor.fetchone()[0]

    if not table_exists:
        print("Table 'customers' does not exist. Creating it now...")
        cursor.execute("""
            CREATE TABLE customers (
                CustomerKey INT PRIMARY KEY,
                Gender VARCHAR(255),
                Name TEXT,
                City VARCHAR(255),
                State_Code VARCHAR(255),
                State VARCHAR(255),
                Zip_Code VARCHAR(255),  -- Changed from INT to VARCHAR
                Country VARCHAR(255),
                Continent VARCHAR(255),
                Birthday DATE
            );
        """)
        print("Table created successfully.")
    
    # Insert data
    for index, row in df_Customers_cleaned.iterrows():
        cursor.execute("""
            INSERT INTO customers (CustomerKey, Gender, Name, City, State_Code, 
            State, Zip_Code, Country, Continent, Birthday) 
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """, (
            row['CustomerKey'], row['Gender'], row['Name'], row['City'],
            row['State Code'], row['State'], str(row['Zip Code']),  # Ensure Zip Code is string
            row['Country'], row['Continent'], row['Birthday']
        ))

    connection.commit()
    print("Data inserted successfully.")

except Exception as e:
    print(f"An error occurred while interacting with the database: {e}")

finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

Table 'customers' does not exist. Creating it now...
Table created successfully.
Data inserted successfully.

In [17]:
print(df_Customers_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB
None

In [ ]:
#push into pg sql , Customers_cleaned data
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from datetime import datetime
from sqlalchemy import create_engine

try:
    # Connect to PostgreSQL
    connection = psycopg2.connect(
        host="localhost",
        port="5432",
        database="Global_Electronics_Data",
        user="postgres",
        password="sample12"
    )
    connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
    cursor = connection.cursor()

    # Check if table exists
    cursor.execute("""
        SELECT EXISTS (
            SELECT FROM information_schema.tables 
            WHERE table_name = 'Customers'
        );
    """)
    table_exists = cursor.fetchone()[0]

    if not table_exists:
        print("Table 'bus_routes' does not exist. Creating it now...")
        cursor.execute("""
            CREATE TABLE bus_routes (
                CustomerKey PRIMARY KEY,
                Gender VARCHAR(255),
                Name TEXT,
                City VARCHAR(255),
                State_Code VARCHAR(255),
                State VARCHAR(255),
                Zip_Code INT,
                Country VARCHAR(255),
                Continent VARCHAR(255),
                Birthday ,
            );
        """)
        print("Table created successfully.")
    

    # Insert data
    for index,row in df_Customers_cleaned.iterrows():
        cursor.execute("""
            INSERT INTO bus_routes (CustomerKey, Gender, Name,City, State_Code, 
            State, Zip_Code, Country, Continent,Birthday) 
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """, (
            row['CustomerKey'], row['Gender'], row['Name'], row['City'],
            row['State Code'], row['State'],row['Zip Code'],row['Country'],row['Continent'],row['Birthday']
        ))

    connection.commit()
    print("Data inserted successfully.")

except Exception as e:
    print(f"An error occurred while interacting with the database: {e}")

finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

In [ ]:
#push into pg sql , Customers_cleaned data
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from datetime import datetime
from sqlalchemy import create_engine

try:
    # Connect to PostgreSQL
    connection = psycopg2.connect(
        host="localhost",
        port="5432",
        database="red_bus",
        user="postgres",
        password="sample12"
    )
    connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
    cursor = connection.cursor()

    # Check if table exists
    cursor.execute("""
        SELECT EXISTS (
            SELECT FROM information_schema.tables 
            WHERE table_name = 'bus_routes'
        );
    """)
    table_exists = cursor.fetchone()[0]

    if not table_exists:
        print("Table 'bus_routes' does not exist. Creating it now...")
        cursor.execute("""
            CREATE TABLE bus_routes (
                id SERIAL PRIMARY KEY,
                route_name VARCHAR(255),
                route_link TEXT,
                bus_name VARCHAR(255),
                bus_type VARCHAR(255),
                departing_time TIME,
                duration VARCHAR(50),
                reaching_time TIME,
                star_rating FLOAT,
                price FLOAT,
                seats_available INT
            );
        """)
        print("Table created successfully.")
    else:
        print("Table 'bus_routes' exists. Resetting sequence...")
        cursor.execute("""
            SELECT setval('bus_routes_id_seq', COALESCE((SELECT MAX(id) FROM bus_routes), 1), true);
        """)

    # Insert data
    for index,row in bus_dataframe_all_bus_data_df_APSRTC_pvt.iterrows():
        cursor.execute("""
            INSERT INTO bus_routes (route_name, route_link, bus_name, bus_type, departing_time, duration, 
            reaching_time, star_rating, price, seats_available) 
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """, (
            row['route_name'], row['route_link'], row['bus_name'], row['bus_type'],
            datetime.strptime(row['departing_time'], "%H:%M").time() if row['departing_time'] else None,
            row['duration'],
            datetime.strptime(row['reaching_time'], "%H:%M").time() if row['reaching_time'] else None,
            float(row['star_rating']) if row['star_rating'] else None,
            float(row['price']) if row['price'] else None,
            int(row['seats_available']) if row['seats_available'] else None
        ))

    connection.commit()
    print("Data inserted successfully.")

except Exception as e:
    print(f"An error occurred while interacting with the database: {e}")

finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

In [5]:
import pandas as pd

# Load data, ensuring no extra index column
df_Customers = pd.read_csv("customers_cleaned.csv", dtype={"Zip Code": "string"}, index_col=0)

# Drop the Unnamed column if it still appears
#df_Customers = df_Customers.drop(columns=["Unnamed: 0"], errors="ignore")

# ✅ Correcting data types
df_Customers["CustomerKey"] = df_Customers["CustomerKey"].astype(int)
df_Customers["Gender"] = df_Customers["Gender"].astype("string")
df_Customers["Name"] = df_Customers["Name"].astype("string")
df_Customers["City"] = df_Customers["City"].astype("string")
df_Customers["State"] = df_Customers["State"].astype("string")
df_Customers["Zip Code"] = df_Customers["Zip Code"].astype("string")
df_Customers["Country"] = df_Customers["Country"].astype("string")
df_Customers["Continent"] = df_Customers["Continent"].astype("string")

# 🛠 Fix "State Code"
df_Customers["State Code"] = pd.to_numeric(df_Customers["State Code"], errors="coerce").astype("Int64")

# ⏳ Convert "Birthday" to datetime
df_Customers["Birthday"] = pd.to_datetime(df_Customers["Birthday"],format="%m/%d/%Y", errors="coerce")

# # 🔥 Save the cleaned DataFrame correctly
# df_Customers.to_csv("customers_cleaned.csv", index=False)

# ✅ Verify the changes
print(df_Customers.dtypes)

FileNotFoundError: [Errno 2] No such file or directory: 'customers_cleaned.csv'

In [36]:
print(df_Customers["State Code"].unique())

['SA' 'WA' 'VIC' 'QLD' 'NT' 'NSW' 'TAS' 'ACT' 'BC' 'QC' 'ON' 'AB' 'NS'
 'SK' 'NU' 'PE' 'MB' 'NL' 'YT' 'NB' 'BB' 'RP' 'BY' 'BW' 'NW' 'NI' 'ST'
 'MV' 'SN' 'TH' 'BE' 'HE' 'SL' 'SH' 'HB' 'HH' 'RA' 'IL' 'GY' 'AL' 'AQ'
 'CA' 'NP' 'GD' 'FC' 'PA' 'PC' 'LI' 'MP' 'PI' 'HN' 'AU' 'PL' 'LO' 'BN'
 'CE' 'LN' 'MQ' 'BO' 'BR' 'CO' 'MY' 'RC' 'VI' 'FE' 'RM' 'AG' 'IM' 'MI'
 'PR' 'BG' 'RG' 'PN' 'SV' 'LU' 'CN' 'TN' 'LE' 'PD' 'BI' 'CH' 'GE' 'TO'
 'VV' 'CZ' 'AN' 'PG' 'LT' 'BL' 'TV' 'PV' 'MN' 'VA' 'PT' 'SI' 'MS' 'CT'
 'BS' 'SS' 'RO' 'CR' 'FI' 'GR' 'IS' 'SO' 'VE' 'OR' 'ME' 'VR' 'CS' 'BZ'
 'NO' 'AV' 'TA' 'VC' 'GO' 'MO' 'FR' 'FG' 'TE' 'BA' 'UD' 'AP' 'TP' 'RE'
 'PO' nan 'AT' 'SR' 'RI' 'TS' 'KR' 'MT' 'PZ' 'MC' 'VT' 'AR' 'AO' 'CB' 'LC'
 'SP' 'RN' 'FO' 'TR' 'UT' 'NH' 'DR' 'ZH' 'FL' 'OV' 'ZE' 'Falkirk'
 'Ceredigion' 'North East Lincolnshire' 'Aberdeenshire' 'York'
 'Pembrokeshire' 'Leicester' 'Highland' 'Tendring' 'Horsham' 'Newport'
 'Bristol' 'Newark and Sherwood' 'Argyllshire' 'Lincoln' 'Tamworth'
 'Fylde' 'Lewes' 'Rhondda Cynon Taf' 'Bromsgrove' 'Ripon' 'Cornwall'
 'South Lanarkshire' 'Shropshire' 'Perth and Kinross' 'Crawley'
 'Staffordshire' 'Mendip' 'Forest Heath' 'Moray' 'Bracknell Forest'
 'Anglesey' 'Bolsover' 'Calderdale' 'Ashford' 'Sussex' 'Darlington'
 'East Devon' 'Monmouthshire' 'Gloucester' 'Mid Devon' 'Somerset'
 'Hereford' 'Bath and North East Somerset' 'Bassetlaw' 'Christchurch'
 'West Berkshire' 'Gwynedd' 'Suffolk' 'Tewkesbury' 'Colchester'
 'Llandrindod Wells' 'Harrogate' 'Winchester' 'Angus' 'Derbyshire Dales'
 'Dacorum' 'Suffolk Coastal' 'Wiltshire' 'Leeds' 'Kennet' 'Hampshire'
 'Norfolk' 'Northumberland' 'Doncaster' 'Purbeck' 'Wyre Forest'
 'Redcar & Cleveland' 'West Dorset' 'Ipswich' 'Powys' 'Midlothian' 'Fife'
 'North Ayrshire' 'Carmarthenshire' 'Birmingham' 'South Oxfordshire'
 'North Yorkshire' 'Cheshire West and Chester' 'Scottish Borders'
 'Lichfield' 'Rushcliffe' 'Arun' 'Dumfriesshire' 'Wakefield'
 'Denbighshire' 'Plymouth' 'St Edmundsbury' 'Edinburgh' 'Liverpool' 'Kent'
 'Warwick' 'Gedling' 'Shetland' 'Flintshire' 'Gravesham'
 'Central Bedfordshire' 'North Dorset' 'Lancaster' 'Breckland'
 'East Riding of Yorkshire' 'Exeter' 'Vale of White Horse' 'Cherwell'
 'South Holland' 'South Lakeland' 'Stroud' 'Orkney Islands' 'West Lindsey'
 'Stratford-on-Avon' 'West Oxfordshire' 'Bedford' 'Rother' 'Isle of Man'
 'Swindon' 'Charnwood' 'Waverley' 'Wolverhampton' 'Aylesbury Vale'
 'Merton' 'Sevenoaks' 'Allerdale' 'Bolton' 'Selby' 'Berkshire' 'Copeland'
 'Chelmsford' 'South Kesteven' 'Cheshire East' 'Boston' 'County Durham'
 'Mid Suffolk' 'Wandsworth' 'West Dunbartonshire' 'Erewash' 'Babergh'
 'South Hams' 'Wigan' 'South Ayrshire' 'Rotherham' 'Isle of Wight'
 'Cotswold' 'Worcester' 'Rutland' 'East Northamptonshire' 'Rugby'
 'Stirling' 'North Kesteven' 'Comhairle nan Eilean Siar' 'Walsall'
 'Knowsley' 'South Somerset' 'North Lincolnshire' 'South Norfolk'
 'Aberdeen' 'Welwyn Hatfield' 'Kirkcudbrightshire' 'Carlisle' 'Hillingdon'
 'West Norfolk' 'Kirklees' 'New Forest' 'Swansea' 'Craven' 'Camden'
 'North Somerset' 'Teignbridge' 'Melton' 'Conwy' 'Enfield' 'Glasgow'
 'Braintree' 'Chichester' 'North Hertfordshire' 'East Lothian'
 'Renfrewshire' 'Eden' 'Uttlesford' 'Mid Sussex' 'Peterborough' 'Ashfield'
 'Redbridge' 'Sheffield' 'Newcastle' 'Harlow' 'East Hampshire'
 'Caerphilly' 'North Warwickshire' 'Brentwood' 'Tameside'
 'Brighton and Hove' 'Rossendale' 'Swale' 'Sutton' 'Huntingdonshire'
 'St Albans' 'Dudley' 'East Hertfordshire' 'Guildford' 'Cambridge'
 'Woking' 'Daventry' 'Vale of Glamorgan' 'East Ayrshire' 'Bradford'
 'South Buckinghamshire' 'Merthyr Tydfil' 'West Lothian' 'East Lindsey'
 'Hambleton' 'Tower Hamlets' 'Test Valley' 'Dartford' 'Sunderland'
 'Medway' 'Rochdale' 'Bury' 'Oxford' 'Bridgend' 'South Derbyshire'
 'Milton Keynes' 'Southampton' 'Wokingham' 'Nottingham' 'Stevenage'
 'Wirral' 'Dundee' 'Amber Valley' 'Harrow' 'East Dorset' 'Maidstone'
 'Wigtownshire' 'Gateshead' 'Telford and Wrekin' 'Wellingborough'
 'Runnymede' 'Wrexham' 'Cannock Chase' 'Kensington and Chelsea'
 'South Gloucestershire' 'Wycombe' 'South Staffordshire' 'Sandwell'
 'Bromley' 'Torridge' 'Burnley' 'Sefton' 'Ribble Valley' 'Chiltern'
 'Hastings' 'East Staffordshire' 'Barnet' 'Reigate and Banstead'
 'Basildon' 'Tandridge' 'Westminster' 'Warrington' 'West Lancashire'
 'Preston' 'Canterbury' 'Wealden' 'Havering' 'West Devon' 'Islington'
 'Wyre' 'Kinross-Shire' 'Waveney' 'North Lanarkshire' 'Ely'
 'Neath Port Talbot' 'Nuneaton & Bedworth' 'Chesterfield' 'Mole Valley'
 'South Northamptonshire' 'Broxbourne' 'Cardiff' 'Hackney' 'Redditch'
 'Tunbridge Wells' 'Haringey' 'Malvern Hills' 'Broxtowe' 'Spelthorne'
 'Coventry' 'Newmarket' 'Lanarkshire' 'East Dunbartonshire'
 'Stockton-on-Tees' 'NC' 'MD' 'HI' 'NY' 'TX' 'GA' 'DE' 'WI' 'KS' 'NV' 'MA'
 'NJ' 'OH' 'IA' 'KY' 'DC' 'OK' 'ID' 'AZ' 'IN' 'WV' 'NE' 'LA' 'AK' 'ND'
 'SC' 'NM' 'SD' 'WY']

In [39]:
print(df_Customers["Zip Code"])

0         5523
1         6522
2         3380
3         5223
4         3698
         ...
15261    77017
15262    22101
15263    28405
15264    92501
15265    48302
Name: Zip Code, Length: 15266, dtype: object

In [51]:
# Convert categorical/text columns to string
df_Customers["Gender"] = df_Customers["Gender"].astype("string")
df_Customers["Name"] = df_Customers["Name"].astype("string")
df_Customers["City"] = df_Customers["City"].astype("string")
df_Customers["State"] = df_Customers["State"].astype("string")
df_Customers["Country"] = df_Customers["Country"].astype("string")
df_Customers["Continent"] = df_Customers["Continent"].astype("string")
df_Customers["State Code"] = df_Customers["State Code"].astype("string")
df_Customers["Zip Code"] = df_Customers["Zip Code"].astype("string")

# Convert Birthday to datetime format
df_Customers["Birthday"] = pd.to_datetime(df_Customers["Birthday"], format="%m/%d/%Y", errors="coerce")

# Verify the changes
print(df_Customers.dtypes)

CustomerKey             int64
Gender         string[python]
Name           string[python]
City           string[python]
State Code     string[python]
State          string[python]
Zip Code       string[python]
Country        string[python]
Continent      string[python]
Birthday       datetime64[ns]
dtype: object

In [41]:
print(df_Customers.dtypes)

CustomerKey             int64
Gender         string[python]
Name           string[python]
City           string[python]
State Code     string[python]
State          string[python]
Zip Code       string[python]
Country        string[python]
Continent      string[python]
Birthday       datetime64[ns]
dtype: object

In [42]:
print(df_Customers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  string
 2   Name         15266 non-null  string
 3   City         15266 non-null  string
 4   State Code   15256 non-null  string
 5   State        15266 non-null  string
 6   Zip Code     15266 non-null  string
 7   Country      15266 non-null  string
 8   Continent    15266 non-null  string
 9   Birthday     15266 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), string(8)
memory usage: 1.2 MB
None

In [43]:
print(df_Customers["State Code"].unique())

<StringArray>
[ 'SA',  'WA', 'VIC', 'QLD',  'NT', 'NSW', 'TAS', 'ACT',  'BC',  'QC',
 ...
  'IN',  'WV',  'NE',  'LA',  'AK',  'ND',  'SC',  'NM',  'SD',  'WY']
Length: 468, dtype: string

In [52]:
df_Customers.to_csv("customers_cleaned.csv", index=True)

In [53]:
import pandas as pd

# Load the cleaned CSV
df_customers_cleaned = pd.read_csv("customers_cleaned.csv")

# Display the entire DataFrame (if it's small)
print(df_customers_cleaned)  # Shows all rows without truncation

       Unnamed: 0  CustomerKey  Gender               Name  \
0               0          301  Female      Lilly Harding
1               1          325  Female       Madison Hull
2               2          554  Female      Claire Ferres
3               3          786    Male  Jai Poltpalingada
4               4         1042    Male    Aidan Pankhurst
...           ...          ...     ...                ...
15261       15261      2099600  Female     Denisa Duková
15262       15262      2099618    Male   Justin Solórzano
15263       15263      2099758    Male    Svend Petrussen
15264       15264      2099862  Female       Lorenza Rush
15265       15265      2099937    Male   Zygmunt Kaminski

                      City State Code              State Zip Code  \
0           WANDEARAH EAST         SA    South Australia     5523
1               MOUNT BUDD         WA  Western Australia     6522
2                WINJALLOK        VIC           Victoria     3380
3             MIDDLE RIVER         SA    South Australia     5223
4            TAWONGA SOUTH        VIC           Victoria     3698
...                    ...        ...                ...      ...
15261              Houston         TX              Texas    77017
15262               Mclean         VA           Virginia    22101
15263           Wilmington         NC     North Carolina    28405
15264            Riverside         CA         California    92501
15265  Bloomfield Township         MI           Michigan    48302

             Country      Continent    Birthday
0          Australia      Australia  1939-07-03
1          Australia      Australia  1979-09-27
2          Australia      Australia  1947-05-26
3          Australia      Australia  1957-09-17
4          Australia      Australia  1965-11-19
...              ...            ...         ...
15261  United States  North America  1936-03-25
15262  United States  North America  1992-02-16
15263  United States  North America  1937-11-09
15264  United States  North America  1937-10-12
15265  United States  North America  1965-08-18

[15266 rows x 11 columns]

In [54]:
print(df_customers_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   15266 non-null  int64
 1   CustomerKey  15266 non-null  int64
 2   Gender       15266 non-null  object
 3   Name         15266 non-null  object
 4   City         15266 non-null  object
 5   State Code   15256 non-null  object
 6   State        15266 non-null  object
 7   Zip Code     15266 non-null  object
 8   Country      15266 non-null  object
 9   Continent    15266 non-null  object
 10  Birthday     15266 non-null  object
dtypes: int64(2), object(9)
memory usage: 1.3+ MB
None

In [13]:
# loading Products.csv

import pandas as pd

file_path = r"C:/Users/USER/Desktop/DataSpark_Illuminating_Insights_for_Global_Electronics/Products.csv"

# Method 1: Try common encodings automatically
encodings = ['utf-8', 'latin1', 'cp1252', 'ISO-8859-1']

for encoding in encodings:
    try:
        df_Products = pd.read_csv(file_path, encoding=encoding)
        print(f"Successfully loaded with {encoding} encoding!")
        break
    except UnicodeDecodeError:
        continue

# Method 2: Manual encoding specification (if automatic fails)
# df_Products = pd.read_csv(file_path, encoding='latin1')  # Most reliable fallback

# Verify the DataFrame
print("\nFirst 5 rows of df_Products:")
print(df_Products.head())

print("\nDataFrame info:")
print(df_Products.info())

Successfully loaded with utf-8 encoding!

First 5 rows of df_Products:
   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

  Unit Cost USD Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0        $6.62         $12.99              101     MP4&MP3            1
1        $6.62         $12.99              101     MP4&MP3            1
2        $7.40         $14.52              101     MP4&MP3            1
3       $11.00         $21.57              101     MP4&MP3            1
4       $11.00         $21.57              101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB
None

In [18]:
df_Products.dtypes

ProductKey         int64
Product Name      object
Brand             object
Color             object
Unit Cost USD     object
Unit Price USD    object
SubcategoryKey     int64
Subcategory       object
CategoryKey        int64
Category          object
dtype: object

In [17]:
print(df_Products[['Unit Cost USD', 'Unit Price USD']].dtypes)

Unit Cost USD     object
Unit Price USD    object
dtype: object

In [19]:
df_Products["Unit Cost USD"] = df_Products["Unit Cost USD"].replace('[\$,]', '', regex=True).astype(float)
df_Products["Unit Price USD"] = df_Products["Unit Price USD"].replace('[\$,]', '', regex=True).astype(float)

In [20]:
print(df_Products[['Unit Cost USD', 'Unit Price USD']].dtypes)

Unit Cost USD     float64
Unit Price USD    float64
dtype: object

In [21]:
print(df_Products.head())

   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

   Unit Cost USD  Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0           6.62           12.99             101     MP4&MP3            1
1           6.62           12.99             101     MP4&MP3            1
2           7.40           14.52             101     MP4&MP3            1
3          11.00           21.57             101     MP4&MP3            1
4          11.00           21.57             101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio

In [22]:
pd.options.display.float_format = '${:,.2f}'.format

In [23]:
print(df_Products.head())

   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

   Unit Cost USD  Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0          $6.62          $12.99             101     MP4&MP3            1
1          $6.62          $12.99             101     MP4&MP3            1
2          $7.40          $14.52             101     MP4&MP3            1
3         $11.00          $21.57             101     MP4&MP3            1
4         $11.00          $21.57             101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio

In [24]:
print(df_Products.head())

   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

   Unit Cost USD  Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0          $6.62          $12.99             101     MP4&MP3            1
1          $6.62          $12.99             101     MP4&MP3            1
2          $7.40          $14.52             101     MP4&MP3            1
3         $11.00          $21.57             101     MP4&MP3            1
4         $11.00          $21.57             101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio

In [25]:
df_Products["Unit Cost USD"] = df_Products["Unit Cost USD"].apply(lambda x: f'${x:,.2f}')
df_Products["Unit Price USD"] = df_Products["Unit Price USD"].apply(lambda x: f'${x:,.2f}')

In [26]:
print(df_Products.head())

   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

  Unit Cost USD Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0         $6.62         $12.99             101     MP4&MP3            1
1         $6.62         $12.99             101     MP4&MP3            1
2         $7.40         $14.52             101     MP4&MP3            1
3        $11.00         $21.57             101     MP4&MP3            1
4        $11.00         $21.57             101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio

In [27]:
print(df_Products[['Unit Cost USD', 'Unit Price USD']].dtypes)

Unit Cost USD     object
Unit Price USD    object
dtype: object

In [15]:
# loading Stores.csv

import pandas as pd

file_path = r"C:/Users/USER/Desktop/DataSpark_Illuminating_Insights_for_Global_Electronics/Stores.csv"

# Method 1: Try common encodings automatically
encodings = ['utf-8', 'latin1', 'cp1252', 'ISO-8859-1']

for encoding in encodings:
    try:
        df_Stores = pd.read_csv(file_path, encoding=encoding)
        print(f"Successfully loaded with {encoding} encoding!")
        break
    except UnicodeDecodeError:
        continue

# Method 2: Manual encoding specification (if automatic fails)
# df_Stores = pd.read_csv(file_path, encoding='latin1')  # Most reliable fallback

# Verify the DataFrame
print("\nFirst 5 rows of df_Stores:")
print(df_Stores.head())

print("\nDataFrame info:")
print(df_Stores.info())

Successfully loaded with utf-8 encoding!

First 5 rows of df_Stores:
   StoreKey    Country                         State  Square Meters  Open Date
0         1  Australia  Australian Capital Territory          595.0   1/1/2008
1         2  Australia            Northern Territory          665.0  1/12/2008
2         3  Australia               South Australia         2000.0   1/7/2012
3         4  Australia                      Tasmania         2000.0   1/1/2010
4         5  Australia                      Victoria         2000.0  12/9/2015

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB
None

In [16]:
# loading Exchange_Rates.csv

import pandas as pd

file_path = r"C:/Users/USER/Desktop/DataSpark_Illuminating_Insights_for_Global_Electronics/Exchange_Rates.csv"

# Method 1: Try common encodings automatically
encodings = ['utf-8', 'latin1', 'cp1252', 'ISO-8859-1']

for encoding in encodings:
    try:
        df_Exchange_Rates = pd.read_csv(file_path, encoding=encoding)
        print(f"Successfully loaded with {encoding} encoding!")
        break
    except UnicodeDecodeError:
        continue

# Method 2: Manual encoding specification (if automatic fails)
# df_Stores = pd.readf_Exchange_Ratesd_csv(file_path, encoding='latin1')  # Most reliable fallback

# Verify the DataFrame
print("\nFirst 5 rows of Exchange_Rates:")
print(df_Exchange_Rates.head())

print("\nDataFrame info:")
print(df_Exchange_Rates.info())

Successfully loaded with utf-8 encoding!

First 5 rows of Exchange_Rates:
       Date Currency  Exchange
0  1/1/2015      USD    1.0000
1  1/1/2015      CAD    1.1583
2  1/1/2015      AUD    1.2214
3  1/1/2015      EUR    0.8237
4  1/1/2015      GBP    0.6415

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB
None

In [14]:
# loading Sales.csv

import pandas as pd

file_path = r"C:/Users/USER/Desktop/DataSpark_Illuminating_Insights_for_Global_Electronics/Sales.csv"

# Method 1: Try common encodings automatically
encodings = ['utf-8', 'latin1', 'cp1252', 'ISO-8859-1']

for encoding in encodings:
    try:
        df_Sales = pd.read_csv(file_path, encoding=encoding)
        print(f"Successfully loaded with {encoding} encoding!")
        break
    except UnicodeDecodeError:
        continue

# Method 2: Manual encoding specification (if automatic fails)
# df_Products = pd.read_csv(file_path, encoding='latin1')  # Most reliable fallback

# Verify the DataFrame
print("\nFirst 5 rows of df_Sales:")
print(df_Sales.head())

print("\nDataFrame info:")
print(df_Sales.info())

Successfully loaded with utf-8 encoding!

First 5 rows of df_Sales:
   Order Number  Line Item Order Date Delivery Date  CustomerKey  StoreKey  \
0        366000          1   1/1/2016           NaN       265598        10
1        366001          1   1/1/2016     1/13/2016      1269051         0
2        366001          2   1/1/2016     1/13/2016      1269051         0
3        366002          1   1/1/2016     1/12/2016       266019         0
4        366002          2   1/1/2016     1/12/2016       266019         0

   ProductKey  Quantity Currency Code
0        1304         1           CAD
1        1048         2           USD
2        2007         1           USD
3        1106         7           CAD
4         373         1           CAD

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB
None